<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" action="/add" th:object="${student}">
    <input type="hidden" name="sid" th:field="*{sid}"><br>
    姓名：<br>
    <input type="text" name="sname" th:field="*{sname}"><br>
    年龄：<br>
    <input type="text" name="sage"  th:field="*{sage}"><br>
    班级：<br>
    <select name="cid" th:field="*{cid}">
        <option value="0">请选择</option>
        <option th:each="sc:${sclist}" th:value="${sc.cid}"><span th:text="${sc.cname}"></span></option>
    </select><br>
    <button>提交</button>
</form>

</body>
</html>